* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: block;
}

.container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 30px;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  padding: 8px;
  background-color: #dfdfdf;
  border-radius: 25px;
}

.greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.greeting p {
  font-weight: bold;
  font-size: 1.2em;
}

.greeting h1 {
  font-size: 2em;
}

.greetingtext {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.greeting SVG {
  grid-column: 1;
  grid-row: 1/-1;
  width: 6em;
  height: 6em;
  fill: currentColor; /* optional, makes the icon match text color */
  margin-right: 10px;
}

.account {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.klocka {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-right: 0.2em;
  fill: currentColor; /* optional, makes the icon match text color */
  margin-left: 100px;
}

.kisse {
  width: 4em;
  height: 4em;
  vertical-align: bottom;
  margin-right: 0.2em;
  fill: currentColor; /* optional, makes the icon match text color */
  margin-left: 50px;
}

.account h3 {
  font-size: 1.5em;
}

.projectbuttons {
  display: grid;
  align-items: center;
  justify-content: center;
}

.projectbuttons ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  margin-top: 15px;
}

.projectbuttons button {
  background-color: rgb(66, 176, 245);
  color: white;
  font-weight: bold;
  padding: 0.6em 1.2em;
  text-align: center;
  border: none;
  width: 100%;
  height: 2.5em;
  border-radius: 1.5em;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projectbuttons button:hover {
  background-color: rgb(36, 156, 230);
}

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4fr 3fr;
}

.header ul li {
  list-style: none;
}

.main-content {
  border: 3px solid blue;
  grid-area: main-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  padding-left: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  background-color: rgb(66 176 245);
}

.sidebar svg {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-right: 0.2em;
  fill: currentColor; /* optional, makes the icon match text color */
}

.sidebar ul {
  display: grid;
  gap: 15px;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  list-style: none;
}

.sidebar h1 {
  color: white;
  font-size: 3em;
  margin-top: 15px;
}

.menu svg {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-right: 0.5em;
  fill: currentColor; /* optional, makes the icon match text color */
}

.projects {
  grid-area: projects;
  border: 3px solid skyblue;
  display: grid;
  background-color: rgb(233, 233, 233);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 1.8rem;
  grid-auto-rows: 300px;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 3px solid yellow;
}

.projects .card {
  border: 3px solid sandybrown;
  padding: 20px;
  background-color: white;
}

.projectTitle {
  grid-column: 1 / -1;
  grid-row: 1;
  display:grid;
  border: 3px solid black;
}

.announcements {
  grid-area: announcements;
  border: 3px solid skyblue;
  grid-template-columns: auto;
  grid-template-rows: 1.8rem;
  grid-auto-rows: auto;
  display: grid;
  gap: 0px;
}

.announcements .card {
  padding: 20px;
  border: 3px solid thistle;
  font-size: 0.8rem;
}

.announcementTitle {
  grid-column: 1 / -1;
  grid-row: 1;
  border: 3px solid sienna;
  padding-left: 20px;
  display:grid;
}

.trending {
  grid-area: trending;
  border: 3px solid skyblue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.8rem;
  grid-auto-rows: 100px;
  gap: 0px;
}

.trending .card {
  padding: 20px;
  border: 3px solid thistle;
  font-size: 0.9rem;
}

.trendingTitle {
  grid-column: 1 / -1;
  grid-row: 1;
  border: 3px solid sienna;
  padding-left: 20px;
  display:grid;
}